body {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: url(../img/background.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.top-im {
    display: none;
    position: fixed;
    top: 20%;
    left: 0%;
    width: 100%;
    height: 60%;
    text-align: center;
}

.btn {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0.5px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: 1s;
    color: white;
    text-decoration: none;
}

.samune {
    border-radius: 64px;
    height: 128px;
    width: 128px;
}

.aboutb {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0.5px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: 1s;
    color: white;
}

.memberb {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border: 0.5px solid white;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    transition: 1s;
    color: white;
}

.btn:hover {
    padding: 1.5em;
    letter-spacing: 10px;
    transition: 0.5s;
    background: white;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.aboutb:hover {
    transition: 0.5s;
    background: white;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.memberb:hover {
    transition: 0.5s;
    background: white;
    color: black;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.background {
    display: none;
    background: rgba(0,0,0,0.9);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.about {
    display: none;
    position: absolute;
    top: 20%;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
}

.member {
    display: none;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    height: auto;
    text-align: center;
}

@media only screen and (max-width: 750px) {
    body {
        background: white;
        color: black;
    }

    .btn {
        color: white;
        border: 0.5px solid white;
    }

    .aboutb {
        color: black;
        border: 0.5px solid black;
    }

    .memberb {
        color: black;
        border: 0.5px solid black;
    }

    .btn:hover {
        color: black;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: white;
    }

    .aboutb:hover {
        color: white;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: black;
    }

    .member:hover {
        color: white;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        background: black;
    }

    .about {
        top: 10%;
        color: white;
    }

    .member {
        top: 10%;
        color: white;
    }
}